@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serifs;
}

body {
  background: linear-gradient(180deg, #8b62f1 47%, white 7.5%);
  height: 100vh;
}

.container {
  background-color: #151a30;
  border-radius: 1rem;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  color: white;
}
.container h1 {
  text-align: center;
  margin-bottom: 25px;
}
.container form {
  margin-bottom: 25px;
}
.container form .form-group {
  margin-bottom: 10px;
}
.container form .form-group input[type=text],
.container form .form-group input[type=number] {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgba(150, 34, 142, 0.6549019608);
  outline: none;
  background-color: transparent;
  color: white;
}
.container form .form-group input[type=text]::-moz-placeholder, .container form .form-group input[type=number]::-moz-placeholder {
  color: rgba(128, 128, 128, 0.651);
}
.container form .form-group input[type=text]::placeholder,
.container form .form-group input[type=number]::placeholder {
  color: rgba(128, 128, 128, 0.651);
}
.container form button {
  display: block;
  padding: 10px 25px;
  margin: auto;
  border: none;
  border-radius: 15px;
  font-size: 23px;
  color: white;
  cursor: pointer;
  background: linear-gradient(120deg, rgb(152, 56, 226), rgb(102, 55, 153));
}
.container form button:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
}
.container .student-satate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(183, 165, 165);
  padding-top: 20px;
  margin-bottom: 10px;
}
.container .student-satate div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .student-satate div i {
  height: 20px;
  width: 20px;
  background-color: #8b62f1;
  border-radius: 50%;
  margin-left: 10px;
}
.container .student-satate div i:nth-child(1) {
  background-color: #15aefe;
}
.container .student-satate div i:nth-child(3) {
  background-color: #f47121;
}
.container .student-satate div i:nth-child(5) {
  background-color: #630eff;
}
.container .student-satate div i:nth-child(7) {
  background-color: #ff0fe4;
}
.container #student-list {
  border: 5px solid red;
  padding: 10px;
  height: 280px;
  overflow-y: scroll;
  border: 2px solid #652b60;
}
.container #student-list .empty {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
.container #student-list .student-item {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;
  display: flex;
}
.container #student-list .student-item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
}
.container #student-list .student-item-process {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  gap: 5px;
}
.container #student-list .student-item-process .delete-button {
  background-color: white;
  color: #dc3545;
  padding: 5px;
  border-radius: 50%;
  font-size: 25px;
}
.container #student-list .student-item-process .delete-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.5;
}
.container #student-list .student-item-process .edit-button {
  background-color: #ffc107;
  color: black;
  padding: 5px;
  border-radius: 50%;
  font-size: 25px;
}
.container #student-list .student-item-process .edit-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */